/**
 * 	CSS3 Only Horizontal Accordion
 */

*, *:before, *:after {
  position: relative;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  vertical-align: baseline;
  outline: none;
  font-family: inherit;
}

.accordion,
.accordion ul,
.accordion ul li > div {width: 100%;}

.accordion ul a,


.accordion {overflow: hidden;}

.accordion ul {display: table;}

.accordion a {display: table-cell;}

.accordion li {
  display: block;
  height: 200px;
  background-position: center center;
  background-size: cover;
}

.accordion li > div {
  position: relative;
  width: 100%;
  height: 100%;
}
.accordion li .accordion_item_inf {transition: all .3s;}
.accordion li .accordion_item_inf {
  position: absolute;
  right: 0; bottom: 0; left: 0;
  text-align: center;
  padding: 50px 20px 20px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.34) 5%, rgba(0,0,0,0));
  color: #fff;

  /* opacity: 1; */
}
.accordion a:hover .accordion_item_inf {opacity: 0;}

.accordion li .accordion_item_inf_text {transition: all .3s;}
.accordion li .accordion_item_inf_text {
  position: absolute;
  right: 0; bottom: 0; left: 0;
  padding: 50px 20px 20px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.65) 5%, rgba(0,0,0,0));
  color: #fff;

  opacity: 0;
}
.accordion a:hover .accordion_item_inf_text {opacity: 1;}

.accordion .accordion_item_inf_title {
  font-size: 19px;
  text-align: center;
  font-weight: bold;
  color: white;
}

.accordion_title{
	writing-mode: tb-rl;
}

.opecity_0 {opacity: 0;}
.opecity_1 {opacity: 1;}
.displaynone{
  display: none;
}

.accordion_title{
  top: 5%;
  left: 0%;
  /* position: absolute; */
  /* right: 0px; */
  /* padding: 35px 22px; */
  bottom: 5%;
  left: 21.5px;
  text-align: center;
  transform: rotate(0deg) translate(-40%, 0%);
  transform-origin: left;
  color: white;
  /* font-size: inherit; */
  background: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  font-family: GothamBold;
  color: #333333;
  position: absolute;
  padding: 1rem;
  text-align: center;
}

/* .accordion .accordion_item_inf_text {font-size: 15px;  color: white;} */